<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Bill Tracker</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div>            
            <h1>Mess Bill Tracker</h1>
            <p>date: <%= date %></p>
            <p>month: <%= currentMonth %></p>
            <table id="editableTable">
                <thead>
                  <tr>
                    <th>MONTH</th>
                    <th>BILL</th>
                    <th>STATUS</th>
                    <th>PENDING</th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>JAN</td>
                     <td>text1.2</td>
                     <td>text1.3</td>
                     <td>yes</td>
                   </tr>
                   <tr>
                     <td>FEB</td>
                     <td>text2.2</td>
                     <td>text2.3</td>
                     <td>yes</td>
                   </tr>
                   <tr>
                     <td>MARCH</td>
                     <td>text3.2</td>
                     <td>text3.3</td>
                     <td>yes</td>
                   </tr>
                   <tr>
                   </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>